// 主色
$blue: #20A0FF;
$blue-light: #58B7FF;
$blue-dark: #1D8CE0;

// 辅助色
$success: #13CE66;
$warning: #F7BA2A;
$danger: #FF4949;

// 文本颜色
$black: #1F2D3D;
$black-light: #324057;
$black-extra: #475669;

$text_primary: #1F2D3D;
$text_second: #324057;
$text_third: #475669;

$silver: #8492A6;
$silver-light: #99A9BF;
$silver-extra: #C0CCDA;

$gray: #D3DCE6;
$gray-light: #E5E9F2;
$gray-extra: #EFF2F7;

$white: #ffffff;
$white-dark: #F9FAFC;

// 页面背景色
$page_bg: #E5E9F2;

// 边框颜色
$border-gray: #DDD;
$border: lighten($border-gray, 5%);


// 其它搭配颜色
$primary: #0c60ee;
$success: #27c24c;

$white-1: #ffffff;
$red-1: #d9534f;
$red-2: #FF0000;
$blue-1: #03A9F4;
$blue-2: #0099FF;
$blue-3: #2196F3;
$darkblue-1: #0066CC;
$darkblue-2: #0066FF;
$orange-1: #FF5722;
$orange-2: #FF6633;
$orange-3: #E27A3F;
$orange-4: #edce8c;
$green-1: #18BA1D;
$green-2: #339900;
$green-3: #209C83;
$green-4: #339966;
$pink-1: #FF6666;
$pink-2: #FF3366;
$yellow-1: #f0ad4e;
$yellow-2: #FF9933;
$purple: #CC33FF;
$transparent: rgba(0,0,0,0);
$light-1: #f2f2f2;
$light-2: #F5F5F5;
$cyan: #5bc0de;
$cyan-2: #00BCD4;
