/* ----------------------------------------------
 * 辅助工具类
 * ---------------------------------------------- */

// 背景色
.bg{ background: $page_bg; }
.bg-gray{ background: $light-2; }
.bg-white{ background: $white-1; }
.bg-blue{ background: $blue-1; }

// -----------------
// 字体颜色
.text-primary,
.font-primary{ color: $text_primary !important; }

.text-second,
.font-second{ color: $text_second !important; }

.text-light,
.font-light{ color: $text_third !important; }

.text-white,
.font-white{ color: $white-1 !important; }

// -----------------
// 字体大小
.text-normal,.font-default{ @extend %text-size;}
.text-s,.font-s{ @extend %text-size-s;}
.text-m,.font-m{ @extend %text-size-m;}
.text-l,.font-l{ @extend %text-size-l;}
.text-xl,.font-xl{ @extend %text-size-xl;}

// -----------------
// 字体粗细
.font-bold{ font-weight: bold !important; }
.font-bold-400{ font-weight: 400 !important; }
.font-bold-500{ font-weight: 500 !important; }
.font-bold-600{ font-weight: 500 !important; }
.font-bold-700{ font-weight: 700 !important; }
.text-weight{ font-weight: 600;}

// -----------------
// 图标大小
.icon-size{ @extend  %icon-size;};
.icon-size-m{ @extend  %icon-size-m;};
.icon-size-l{ @extend  %icon-size-l;};
.icon-size-xl{ @extend  %icon-size-xl;};
.icon-size-xxl{ @extend  %icon-size-xxl;};

// -----------------
// 其它颜色
.color-red-1{ color: $red-1 !important; }
.color-red-2{ color: $red-2 !important; }
.color-blue-1{ color: $blue-1 !important; }
.color-blue-2{ color: $blue-2 !important; }
.color-blue-3{ color: $blue-3 !important; }
.color-darkblue-1{ color: $darkblue-1 !important; }
.color-darkblue-2{ color: $darkblue-2 !important; }
.color-orange-1{ color: $orange-1 !important; }
.color-orange-2{ color: $orange-2 !important; }
.color-orange-3{ color: $orange-3 !important; }
.color-orange-4{ color: $orange-4 !important; }
.color-green-1{ color: $green-1 !important; }
.color-green-2{ color: $green-2 !important; }
.color-green-3{ color: $green-3 !important; }
.color-green-4{ color: $green-4 !important; }
.color-pink-1{ color: $pink-1 !important; }
.color-pink-2{ color: $pink-2 !important; }
.color-yellow-1{ color: $yellow-1 !important; }
.color-yellow-2{ color: $yellow-2 !important; }
.color-cyan{ color: $cyan !important; }


// -----------------
// 对齐
.valign-center{ @extend %valign-center; }
.valign-middle{  vertical-align: middle !important; }
.valign-bottom{  vertical-align: bottom !important; }

.block-center{ margin: 0 auto; }

.inline{
  display: inline-block;
  vertical-align: middle;
}

.align-center{ text-align: center; }
.align-right{ text-align: right; }
.align-left{ text-align: left; }

// -----------------
// 文本断行
.text-wrapper{
    @extend %text-wrapper;
    width: 100%;
}
.text-wrapper80{
  @extend %text-wrapper;
  width: 80%;
}
.text-wrapper70{
  @extend %text-wrapper;
  width: 70%;
}

// 超过2行隐藏
.text-wrapper-2line{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// -----------------
// 边框
.border{ @include border(); }
.border-top{ @include border(top); }
.border-left{ @include border(left); }
.border-right{ @include border(right); }
.border-bottom{ @include border(bottom); }

.border-white{ @include border(all, $white-1); }

.border-radius{ @include border-radius(3px); }

.border-gray{ @include border(all, $border); }
.border-gray-top{ @include border(top, $border); }
.border-gray-left{ @include border(left, $border); }
.border-gray-right{ @include border(right, $border); }
.border-gray-bottom{ @include border(bottom, $border); }

.border-dashed{ @include border-dashed(); }
.border-dashed-top{ @include border-dashed(top); }
.border-dashed-left{ @include border-dashed(left); }
.border-dashed-right{ @include border-dashed(right); }
.border-dashed-bottom{ @include border-dashed(bottom); }


// -----------------
// 边距
.padding{ @extend %padding;}
.padding-s{ @extend %padding-s;}
.padding-m{ @extend %padding-m; }
.padding-l{ @extend %padding-l; }
.padding-xl{ @extend %padding-xl; }
.padding-xxl{ @extend %padding-xxl; }
.padding-zero{ padding: 0 !important; }

// ---------------------
// padding-top
.padding-top{ @extend %padding-top; }
.padding-top-s{ @extend %padding-top-s; }
.padding-top-m{ @extend %padding-top-m; }
.padding-top-l{ @extend %padding-top-l; }
.padding-top-xl{ @extend %padding-top-xl; }
.padding-top-xxl{ @extend %padding-top-xxl; }
.padding-top-zero{ padding-top: 0 !important; }

// ---------------------
// padding-bottom
.padding-bottom{ @extend %padding-bottom; }
.padding-bottom-s{ @extend %padding-bottom-s; }
.padding-bottom-m{ @extend %padding-bottom-m; }
.padding-bottom-l{ @extend %padding-bottom-l; }
.padding-bottom-xl{ @extend %padding-bottom-xl; }
.padding-bottom-xxl{ @extend %padding-bottom-xxl; }
.padding-bottom-zero{ padding-bottom: 0 !important; }

// ---------------------
// padding-left
.padding-left{ @extend %padding-left; }
.padding-left-s{ @extend %padding-left-s; }
.padding-left-m{ @extend %padding-left-m; }
.padding-left-l{ @extend %padding-left-l; }
.padding-left-xl{ @extend %padding-left-xl; }
.padding-left-xxl{ @extend %padding-left-xxl; }
.padding-left-zero{ padding-left: 0 !important; }

// ---------------------
// padding-right
.padding-right{ @extend %padding-right; }
.padding-right-s{ @extend %padding-right-s; }
.padding-right-m{ @extend %padding-right-m; }
.padding-right-l{ @extend %padding-right-l; }
.padding-right-xl{ @extend %padding-right-xl; }
.padding-right-xxl{ @extend %padding-right-xxl; }
.padding-right-zero{ padding-right: 0 !important; }

// ---------------------
// margin
.margin{ @extend %margin; }
.margin-s{ @extend %margin-s; }
.margin-m{ @extend %margin-m; }
.margin-l{ @extend %margin-l; }
.margin-xl{ @extend %margin-xl; }
.margin-xxl{ @extend %margin-xxl; }
.margin-zero{ margin: 0 !important; }

// ---------------------
// margin-top
.margin-top{ @extend %margin-top; }
.margin-top-s{ @extend %margin-top-s; }
.margin-top-m{ @extend %margin-top-m; }
.margin-top-l{ @extend %margin-top-l; }
.margin-top-xl{ @extend %margin-top-xl; }
.margin-top-xxl{ @extend %margin-top-xxl; }
.margin-top-zero{ margin-top: 0 !important; }

// ---------------------
// margin-bottom
.margin-bottom{ @extend %margin-bottom; }
.margin-bottom-s{ @extend %margin-bottom-s; }
.margin-bottom-m{ @extend %margin-bottom-m; }
.margin-bottom-l{ @extend %margin-bottom-l; }
.margin-bottom-xl{ @extend %margin-bottom-xl; }
.margin-bottom-xxl{ @extend %margin-bottom-xxl; }
.margin-bottom-zero{ margin-bottom: 0 !important; }

// ---------------------
// margin-left
.margin-left{ @extend %margin-left; }
.margin-left-s{ @extend %margin-left-s; }
.margin-left-m{ @extend %margin-left-m; }
.margin-left-l{ @extend %margin-left-l; }
.margin-left-xl{ @extend %margin-left-xl; }
.margin-left-xxl{ @extend %margin-left-xxl; }
.margin-left-zero{ margin-left: 0 !important; }

// ---------------------
// margin-right
.margin-right{ @extend %margin-right; }
.margin-right-s{ @extend %margin-right-s; }
.margin-right-m{ @extend %margin-right-m; }
.margin-right-l{ @extend %margin-right-l; }
.margin-right-xl{ @extend %margin-right-xl; }
.margin-right-xxl{ @extend %margin-right-xxl; }
.margin-right-zero{ margin-right: 0 !important; }

// -----------------
// bootstrap 栅格排版间隙工具
.col-min{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.col-right-min{
  padding-right: 7.5px !important;
}
.col-left-min{
  padding-left: 7.5px !important;
}

.col-zero{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.col-right-zero{
  padding-right: 0 !important;
}
.col-left-zero{
  padding-left: 0 !important;
}

// -----------------
// 字段文本样式
.field-info{
  @include border-dashed(bottom);
  padding: 15px 0 10px 0;
  @include font-size(13px);

  .field-name{
    display: inline-block;
    width: 120px;
    color: $text_second;
  }
}