// -----------------------------------------------
// 字体大小
$text_size: 14px;
$text_size_s: 12px;
$text_size_m: 16px;
$text_size_l: 20px;
$text_size_xl: 28px;

// -----------------------------------------------
// 图标大小
$icon_size: 16px;
$icon_size_m: 20px;
$icon_size_l: 24px;
$icon_size_xl: 30px;
$icon_size_xxl: 40px;

// -----------------------------------------------
// 间距大小定义
$xs: 5px;
$s: 10px;
$m: 15px;
$l: 25px;
$xl: 30px;
$xxl: 50px;